#main {
  display: flex;
  justify-content: space-between;
}

#main > div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

#main > div > div {
  border: 2px solid black;
  padding: 3px;
  margin: 3px;
}
